@charset "UTF-8";

@font-face{font-family: capsuula_font;
    src: url(MiscSite_content/WOFF_fonts/capsuula.woff);}

@font-face{font-family: decomart_font;
    src: url(MiscSite_content/WOFF_fonts/decomart_ff_4f.woff)}
   
@font-face{font-family: muli_font;
   src: url(MiscSite_content/WOFF_fonts/muli-light.woff)}


html, body, h1,h2,h3, ul, li, a, p, article,aside,footer,header,main, nav, section {
margin:0;
}

html, body{
    height: 100%;
}


.banner{
    z-index: 10;
    overflow: hidden;
    position: fixed;
    background-color: rgb(250, 250, 250);
    
    top:0;
    height: 95px;
    width: 100%;
    font-size: 80%;
    border-radius: 0px 0px 16px 16px;
}
.banner a {
    float: left;
    color:rgb(47, 47, 47);
    text-align: center;
    text-decoration: none; 
    /*position: absolute;
    right: 180px;
    top: 45%;*/
    padding: 14px 14px;
    font-family: muli_font;
    margin-bottom: 8rem;
}
.backgrond_Parallax{
    z-index: -1;
    background-image: url(TotalZEN_content/Images/PageBackGround.png);
    height: fit-content;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom:1%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
*{box-sizing: border-box;}
.Title-desc{
    position: relative;
    width: 100%;
    height: auto;
    padding-top:6rem;
    color:rgb(250, 250, 250);
    background-color:rgba(46,59,78,0.9);
    text-align: center;
    font-family: muli_font;
    margin-bottom: 1rem;
} 


.infoBlock{
    overflow: hidden;
    position: relative;
    text-align: center;
    
    font-family:muli_font;
    text-decoration: none;
    color: rgb(250, 250, 250);
}

.twoDdivMini{color:rgb(250, 250, 250); position: absolute; display: block;}

.wrapper {
    min-height: 100%;
  }
  


.footer_banner{
    z-index: 10;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    font-family: muli_font;
    text-align:center;
    background-color:rgb(250, 250, 250);
    color:black;
}

